#Form-cont {
    display: flex;
    width: 500px;
    height: 500px;
    background-color: var(--grey);

    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    border-radius: 20px;
}

.radio-cont {
    display: flex;
}

#Ingrd-boxes-cont {
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#Tags-picked-cont {
    display: flex;
}

#Tags-picked-cont p {
    background-color: var(--green);
    color: black;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;

    margin: 10px;
}

#Tags-picked-cont span {
    cursor: pointer;
    color: red;
}