#Form-cont {
    display: flex;
    width: 80%;
    height: 700px;
    flex-direction: column;
}

form {
    display: flex;
    height: 100vh;
    flex-direction: column; 
    justify-content: space-around;
}

.form-group-cont {
    background-color: var(--grey);
}

.form-group-cont h2{
    background-color: var(--greyDark);
    font-size: 1.2em;
    color: white;
    font-weight: normal;
    padding: 10px;
    margin:0px;
}

.form-inputs-cont {
    padding: 20px;
}

.radio-cont {
    display: flex;
}

#Ingrd-boxes-cont {
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#Tags-picked-cont {
    display: flex;
}

#Tags-picked-cont p {
    background-color: var(--green);
    color: black;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;

    margin: 10px;
}

#Tags-picked-cont span {
    cursor: pointer;
    color: red;
}

#Ingrd-english-cont {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Btn-validate {
    align-self: center;
    font-size: 1.5em;
    border-radius: 30px;
}

.btn-form {
    background-color: var(--white);
    color: var(--green);
    border-color: var(--green);
    border: solid;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}

.btn-form:hover {
    background-color: var(--green);
    color: var(--white);
    border-color: var(--green);
    cursor: pointer;
}

/* Ingredient Images*/
#ingrd-img-cont {
    width: 80%;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.ingrd-img {
    border: solid;
    border-radius: 20px;
    border-color: var(--white);
}

.ingrd-img:hover {
    border-color: var(--green);
}

.ingrd-img-select {
    border-color: var(--green);
}