/*
*   CSS Fromulaire
*   
*/

/* -----------------------------------------
 * Global Form CSS 
 * -----------------------------------------
 */
#Form-cont {
    display: flex;
    width: 80%;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}
.form-windows-cont {
    background-color: var(--grey);
    margin-bottom: 25px;
}
.form-windows-cont h2{
    background-color: var(--greyDark);
    font-size: 1.2em;
    color: white;
    font-weight: normal;
    padding: 10px;
    margin:0px;
}
.form-inputs-cont {
    padding: 20px;
}
#Input-english-cont {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}
.form-inputs-cont a {
    color:black;
    text-decoration: underline;
}

/* -----------------------------------------
 * Tags
 * -----------------------------------------
 */
#Tags-picked-cont {
    display: flex;
}
#Tags-picked-cont p {
    background-color: var(--green);
    color: black;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    margin: 10px;
}
#Tags-picked-cont span {
    cursor: pointer;
    color: red;
}

/* -----------------------------------------
 * English Name Ingrd
 * -----------------------------------------
 */
#Ingrd-english-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#Ingrd-english-cont p {
    margin: 25px;
}

/* -----------------------------------------
 * Buttons
 * -----------------------------------------
 */
#Btn-validate {
    align-self: center;
    font-size: 1.4em;
    border-radius: 30px;
    opacity: 0.25;
}
.btn-form {
    background-color: var(--greyDark);
    border: solid;
    border-radius: 15px;
    border-color: var(--greyDark);
    color: white;
    padding: 5px 10px 5px 10px;
}
.btn-form:hover {
    background-color: var(--green);
    color: white;
    border-color: var(--green);
    cursor: pointer;
    transition: all 0.24s linear; 
}

/* -----------------------------------------
 * Number Buttons [-] 10 [+] 
 * -----------------------------------------
 */
.btn-number {
    background-color: var(--greyDark);
    border-color: var(--greyDark);
    border-radius: 50px;
    color: white;
    font-size: 1.4em;
    cursor: pointer;
    padding: 2px 8px 2px 8px;
}
.btn-number:hover {
    background-color: var(--green);
    border-color: var(--green);
}
input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 10px;
    background-color: transparent;
    border: transparent;
    width: 50px;
    font-size: 1.4em;
}


/* -----------------------------------------
 * Img Ingrd
 * -----------------------------------------
 */
#ingrd-img-cont {
    width: 80%;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.ingrd-img {
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .15s ease-in-out;  
}
.ingrd-img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}
.ingrd-img-select {
    filter: none;
    -webkit-filter: grayscale(0);
}

/* -----------------------------------------
 * Inputs Text
 * -----------------------------------------
 */
input[type=text] {
    letter-spacing: 2px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#Input-english-cont input {
    width: 70%;
}
#Ingrd-name-fr:focus {
    box-shadow: 0px 0px 10px var(--red);
    border: 2px solid var(--red);
}
#Warning-ingrd-name {
    color: var(--red);
}

/* -----------------------------------------
 * Radio Buttons
 * -----------------------------------------
 */
.radio-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] + label {
    font-size: 1em;
    cursor: pointer;
}
input[type="radio"] + label span {
    display: inline-block; 
    width: 18px; 
    height: 18px; 
    margin: -2px 10px 0 0;
    vertical-align: middle; 
    cursor: pointer; 
    border-radius: 50%;
    border: 3px solid var(--greyDark);
    background-color: var(--greyDark);
}
input[type="radio"]:checked + label { 
    font-weight: 700; 
} 
input[type="radio"]:checked + label span { 
    background-color: var(--green); 
    border: 2px solid #ffffff; 
    box-shadow: 2px 2px 2px rgba(0,0,0,.1); 
} 
input[type="radio"] + label span, input[type="radio"]:checked + label span { 
    -webkit-transition: background-color 0.24s linear; 
    -o-transition: background-color 0.24s linear; 
    -moz-transition: background-color 0.24s linear; 
    transition: background-color 0.24s linear; 
}

/* -----------------------------------------
 * Popup Validate
 * -----------------------------------------
 */
#PopupValidateForm {
    display: none;
    position: fixed;
    width : 500px;
    height: 300px;
    z-index:13;

    /* Center the popup */
    left: 50%;
    margin-left: -250px; /* Half of the width */
    top : 50%;
    margin-top: -150px; /* Half of the height */
    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--greyDark);
    padding: 15px;
}
#Resume-ingrd-cont {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--grey);
    border-radius: 10px;
    padding: 15px 0px 15px 0px;

}
#Btn-validate-cont {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
#Shadow-popup{
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:12;
    opacity:0.5;
}
  