/* MAIN STYLE FILE --- COOKEE --- */

body, html {
    background-color: var(--white);
    margin:0px;
    height: 100%;
    font-family: 'Rubik-Regular';
}

/* --------- COLORS --------- */
:root {
    --green: #45d697;
    --red: #d64545;
    --grey: #b9d4d1;
    --greyDark: #4e6663;
    --greenTransparent: #45d697ce;
    --white: #F0F8FF;
}

/* --------- FONTS --------- */
@font-face {
    font-family: 'Rubik-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Rubik/Rubik-Medium.ttf');
}
@font-face {
    font-family: 'Rubik-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Rubik/Rubik-Regular.ttf');
}


/* --------- LINKS --------- */
a:link
{
	color:white;
	text-decoration: none;
}
a:visited
{
	color:white;
	text-decoration: none;
}
a:hover {
	color:white;
}
    
/* --------- MENU-BAR --------- */ 
#Menu-Bar {
    width: 15%;
    height: 100vh;
    position: fixed;
    font-family: 'Rubik-Bold';
    font-variant: small-caps;
    font-size: 1.2em;
    
    background-color: var(--green);
    color: var(--white);
    
    padding-top: 30px;
}

#Menu-Bar ul {
    margin: 0;
    list-style-type: none;
}

#Menu-Bar li {
    margin-bottom: 30px;
    padding: 10px 0px 10px 10px;
    border-radius: 25px 0% 0% 25px;
}

#Menu-Bar li:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--green);
}

/* --------- MAIN-PAGE --------- */ 
#Main-Window {
    width: 85%;
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Main-Window h1 {
    margin: 40px;
}

/* --------- RECIPE-GRID -------- */ 
#Recipe-Grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  
}

.recipe-container {
    position: relative;
	margin: 10px 10px 25px 10px; 
}

.recipe-container:hover {
    cursor: pointer;
}

.recipe-container img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
    height: 250px;
    border-radius: 20px 20px 20px 20px;
}

.desc-recipe-cont {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: var(--green);
    color: var(--white);
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    transition: background-color 0.7s ease 0s;
}

.desc-recipe-cont:hover {
    height: 100%;
    top:0px;

    background-color: var(--greenTransparent);
    border-radius: 20px 20px 20px 20px;
    padding: 0px 0px 0px 0px;
}

.desc-recipe-cont p {
    display: none;
}

.desc-recipe-cont:hover p {
    display: block;
}

